# Google Cloud Project "Cafe-Eldeeb-POS" Client ID for Google Drive & Gmail OAuth
# Obtain from Google Cloud Console -> APIs & Services -> Credentials -> OAuth 2.0 Client IDs
VITE_GOOGLE_CLIENT_ID=834307898677-6sh4d2s80ucmvk7u8k4c2f647ij418v2.apps.googleusercontent.com

# Server-side Gemini AI Key
GEMINI_API_KEY=
