# Google Cloud Project "Cafe-Eldeeb-POS" Client ID for Google Drive & Gmail OAuth
# Obtain from Google Cloud Console -> APIs & Services -> Credentials -> OAuth 2.0 Client IDs
VITE_GOOGLE_CLIENT_ID=864337937711-gi69esgs44rn7d2li3mb6bfjhdspe2pv.apps.googleusercontent.com

# Server-side Gemini AI Key
GEMINI_API_KEY=
