# Google Cloud Project "Cafe-Eldeeb-POS" Client ID for Google Drive & Gmail OAuth
# Obtain from Google Cloud Console -> APIs & Services -> Credentials -> OAuth 2.0 Client IDs
VITE_GOOGLE_CLIENT_ID=365176394209-jd43on2d9q2s4vb4h6crpbbebnhckiet.apps.googleusercontent.com

# Server-side Gemini AI Key
GEMINI_API_KEY=
